.apartments{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apartments-control-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sort-control{
    font-family: Arial, serif;
    color: #4a4a4a;
    font-size: 1.1em;
    display: flex;
    gap: 15px;
    align-items: center;
}

select{
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 30px;
    border: 1px solid #d5d7db;
    border-radius: 4px;
}